.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-section {
  display: flex;
  flex-grow: 1;
  align-content: center;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.example-margin {
  margin: 30px;
  margin-right: 2px;
}