<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{powerLocation.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
          <h3 mat-subheader>{{powerLocation.heatingNodeName}}</h3>
          <mat-list-item *ngFor="let node of powerLocation.nodes">
            <section class="example-section">
                <span>{{node.name}}</span>
                <mat-slide-toggle
                      class="example-margin"
                      [color]="primary"
                      [checked]="checked"
                      [disabled]="disabled">
                  </mat-slide-toggle>
                </section>
                <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
  </mat-card-content>
</mat-card>